#logo {
  max-height: 64px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
footer a {
  color: #3819ff;
}
nav ul a {
  color: #333;
}
.sidenav-overlay {
  z-index: 10;
}
#nav-mobile {
  color: #333;
}
.unavailable {
  text-decoration: line-through;
}
h2 {
  font-size: 2rem;
  margin:0 0 1.2rem 0;
}
#image_preview {
  max-height: 8rem;
}
.vote:hover {
  color: blue;
}
.supporter {
  display: none;
}
.deal-image {
  max-height: 12em;
}
.css-404{
  border: solid black;
}
.responsive {
  width: 100%;
  height: auto;
}
.navbar-fixed {
  height: 120px;
}
.tab a.active {
  border-bottom: solid white 4px;
  font-weight: 700;
}
.expired {
  border-radius: 3px;
  margin-right: 5px;
}
.voting {
  font-size: 12pt;
}
.comment-votes {
  color: rgba(0, 0, 0, .5);
}
li.tiny a {
  font-size: 8pt;
}
#country_tip {
  transition-delay:1.5s;
  transition-timing-function: ease-in;
  transition:.5s;
}
