{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col s12">
    {% if not deal.date_end|expired %}<span class="new badge {{ deal.date_end | expires_class }}" data-badge-caption="{{ deal.date_end | expires_time }}"><i class="fa fa-clock"></i> Expires</span>{% endif %}
    {% if deal.freebie %}<a href="/freebies"><span class="new badge green" data-badge-caption="FREEBIE"><i class="fa fa-certificate"></i></span></a>{% endif %}
    {% if deal.country_code and not deal.global %}<a href="/country/{{ deal.country_code }}"><span class="new badge grey lighten-3" title="{{ deal.country_code }}" data-badge-caption=""><div class="country-select"><div class="flag {{ deal.country_code }}"></div></div></span></a>{% endif %}
    <h2>{% if deal.date_end|expired %}<span class="red white-text expired"><i class="fas fa-exclamation-triangle fa-fw"></i><b>EXPIRED</b> </span> {% endif %}{{ deal.title }}</h2>
    <div class="valign-wrapper">
      <img src="https://steemitimages.com/u/{{ author }}/avatar" class="circle" width=42 height=42/ style="margin-right:.5em"> <b><a href="https://steemit.com/@{{ author }}">{{ author }}</a></b> ({{ content[ author + "/" + permlink].author_reputation|reputation }})
      &bull; ${{ payout }}
      &bull; {{ content[author + "/" + permlink].created|humanize }}
    </div>
    <p class="center-align"><a href="{{ deal.url }}"><img style="max-height: 22em" class="responsive-img" src="{{ json_metadata.image[0] }}" onerror="this.src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==';"/></a></p>
    <table class="striped">
      <tbody>
        <tr>
          <th>&#127991; Coupon Code</th>
          <td>{{ deal.coupon_code if deal.coupon_code else '&#10060;' | safe }}</td>
        </tr>
        <tr>
          <th>&#127758; Country</th>
          <td>{% if deal.global %}multiple (<a href="{{ deal.url }}">check details</a>){% else %}<img src="https://steemitimages.com/22x22/https://github.com/hjnilsson/country-flags/raw/master/png100px/{{ deal.country_code }}.png" title="{{ deal.country_code }}">{% endif %}</td>
        </tr>
        <tr>
          <th>&#128198; Starts</th>
          <td>
            <b>{{ deal.date_start | expires_time }}</b>
            ({{ deal.date_start | datetimeformat('%a, %B %d') }})
          </td>
        </tr>
        <tr>
          <th>&#128198; Ends</th>
          <td>
            <b>{{ deal.date_end | expires_time }}</b>
            ({{ deal.date_end | datetimeformat('%a, %B %d') }})
          </td>
        </tr>
        <tr>
          <th>&#128176; Freebie?</th>
          <td>{{ '&#128077;' | safe if deal.freebie else '&#10060;' | safe }}</td>
        </tr>
      </tbody>
    </table>

    <div class="center-align" style="margin-top:1em;">
      <a class="waves-effect waves-light orange darken-2 btn btn-large" href="{{ deal.url }}">&#128279; Deal: {{ deal.title | truncate(40, True) }}<i class="material-icons right">send</i></a>
    </div>

    <div class="flow-text">
      {{ deal.description | markdown }}
    </div>

    <div class="row grey-text lighten-2 flow-text lazy" data-loader="votes" data-permlink="{{ permlink }}" data-author="{{ author }}">
      <div class="col s12 right-align">
        <span class="upVote"><i class="fas fa-spinner fa-spin"></i></span>
        <i onclick="voteup(this)" class="upVoteThumb vote fas fa-thumbs-up"></i>
        &bull;
        <i onclick="flag(this)" class="dnVoteThumb vote fas fa-thumbs-down"></i>
        <span class="dnVote"><i class="fas fa-spinner fa-spin"></i></span>
        &bull;
        <button class="btn orange darken-2" data-author="{{ author }}" data-permlink="{{ permlink }}" onclick="show_comment_form(this);">reply</button>
      </div>
    </div>

    {% if content[author+"/"+permlink].replies|length > 0 %}
    <h4>Comments</h4>
    <ul class="collection">
      {% set node = author + "/" + permlink %}
      {%- for comment in content[node].replies recursive %}
      <li class="collection-item avatar lazy" data-loader="votes" data-author="{{ content[comment].author }}" data-permlink="{{ content[comment].permlink }}" style="padding-left:{{ 72+(20*loop.depth) }}px;">
        <img src="https://steemitimages.com/u/{{ content[comment].author }}/avatar" title="{{ content[comment].author }} ({{ content[comment].author_reputation|reputation }})" class="circle">
        <span class="title">{{ content[comment].title + ' &bull; '|safe if content[comment].title }}<b><a href="https://steemit.com/@{{ content[comment].author }}">{{ content[comment].author }}</a></b> ({{ content[comment].author_reputation|reputation }}) &bull; {{ content[comment].last_update|humanize }}</span>
        {% if content[comment].author_reputation|reputation >= 20 %}
        {{ content[comment].body | markdown }}
        <p class="right-align comment-votes">
          <span class="upVote"><i class="fas fa-spinner fa-spin"></i></span>
          <i onclick="voteup(this)" class="upVoteThumb vote fas fa-thumbs-up"></i>
          &bull;
          <i onclick="flag(this)" class="dnVoteThumb vote fas fa-thumbs-down"></i>
          <span class="dnVote"><i class="fas fa-spinner fa-spin"></i></span>
          &bull;
          <button class="btn-small orange darken-2" data-author="{{ content[comment].author }}" data-permlink="{{ content[comment].permlink }}" onclick="show_comment_form(this);">reply</button>
        </p>
        {% else %}
        &bull; <strong><i>Likely spam/scam detected. Comment hidden.</i></strong>
        {% endif %}
      </li>
      {%- if content[comment].replies|length > 0 -%}
      {{ loop(content[comment].replies) }}
      {%- else %}
    </ul>
    <ul class="collection">
      {%- endif %}
      {%- endfor %}
    </ul>
    {% endif %}
    <hr>
    <p><a href="https://steemit.com/fomodeals/@{{ author }}/{{ permlink }}">View on steemit</a></p>
  </div>
</div>
<div id="commentmodal" class="modal">
  <form id="commentform" method="post">
  <div class="modal-content">
    <h4>Post your reply</h4>
    <textarea id="body" class="materialize-textarea" name="body"></textarea>
    <label for="body">Enter you comment here then click post</label>
    <input type="hidden" name="return_to" value="/fomodeals/@{{ author }}/{{ permlink }}"/>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light" type="submit">Post<i class="material-icons right">send</i></button>
  </div>
    </form>
</div>
{% endblock %}
