{% extends'layout.html' %}
{% block content %}
{% for deal in deals %}
<div class="row">
  <div class="col s12 m2">
    <div class="row" style="margin-bottom:3px;">
       <div class="col m12 s6 offset-s3 center-align">
          <img class="lazy deal-image responsive-img" data-src="https://steemitimages.com/250x250/{% if deal.image_url is defined and deal.image_url != "" %}{{ deal['image_url'] }}{% else %}https://blockdeals.org/assets/images/logo_round.png{% endif %}" onerror="this.src='/assets/images/logo_round.png';" />
       </div>
    </div>
    <div class="lazy row grey-text lighten-2" data-loader="votes" data-permlink="{{ deal['permlink'] }}" data-author="{{ deal['steem_user'] }}">
       <div class="col s6 right-align">
         <span class="upVote"><i class="fas fa-spinner fa-spin"></i></span>
         <i onclick="voteup(this)" class="upVoteThumb vote fas fa-thumbs-up"></i>
       </div>
       <div class="col s6 left-align">
         <i onclick="flag(this)" class="dnVoteThumb vote fas fa-thumbs-down"></i>
         <span class="dnVote"><i class="fas fa-spinner fa-spin"></i></span>
       </div>
       <div id="visit" class="col s12 center-align supporter">
         <a id="dealdirect" href="{{ deal['url'] }}" class="waves-effect waves-light btn-small blue tooltipped" data-tooltip="Thanks for supporting this deal! Here is your direct link &#128571;" style="margin-top: 6px;">go to deal</a>
       </div>
    </div>
  </div>
  <div class="col s12 m10">
    {% if deal['deal_end'] %}<span class="new badge {{ deal.deal_end | expires_class }}" data-badge-caption="{{ deal.deal_end | expires_time }}"><i class="fa fa-clock"></i> Expires</span>{% endif %}
    {% if deal['freebie'] %}<a href="/freebies"><span class="new badge green" data-badge-caption="FREEBIE"><i class="fa fa-certificate"></i></span></a>{% endif %}
    {% if deal['country_code'] and not deal['global'] %}<a href="/country/{{ deal['country_code'] }}"><span class="new badge grey lighten-3" title="{{ deal['country'] }}" data-badge-caption=""><div class="country-select"><div class="flag {{ deal['country_code'] }}"></div></div></span></a>{% endif %}
    <h2 class="{{ 'unavailable' if deal['available'] == false else '' }}">
      <a href="/blockdeals/@{{ deal['steem_user'] }}/{{ deal['permlink'] }}">{{ deal['title'] }}</a>
    </h2>
    {% if deal['warning'] %}
    <span class="btn red">{{ deal['warning'] }}</span>
    {% endif %}
    {% if deal['hint'] %}
    <span class="btn blue-grey">{{ deal['hint'] }}</span>
    {% endif %}
    <p>{{ deal['description'] | truncate(250, True) }}</p>
    <div class="row">
      <div class="col s8">
        <p class="grey-text lighten-3">
          <small>
            <b>Posted by:</b> <a href="https://steemit.com/@{{ deal['steem_user'] }}">@{{ deal['steem_user'] }}</a> | <b>Ends:</b> {{ deal['deal_expires']|datetimeformat('%a, %B %d') }}
            {% if session['username'] in admins %}| <a href="/update/{{ deal['permlink'] }}">Edit <i class="fa fa-edit"></i></a>{% endif %}
          </small>
        </p>
      </div>
      <div class="col s4">
        <p class="right-align">
          <a class="waves-effect waves-light btn orange darken-2 tooltipped" data-position="top" data-tooltip="<i class='fas fa-thumbs-up'></i> Upvote good deals! and flag spam <i class='fas fa-thumbs-down'></i>" href="/blockdeals/@{{ deal['steem_user'] }}/{{ deal['permlink'] }}">More details <i class="material-icons right">send</i></a>
        </p>
      </div>
    </div>
  </div>
  {% if not loop.last %}
  <div class="col s12">
    <hr>
  </div>
  {% endif %}
</div>
{% endfor %}
{% endblock %}
