{% extends'layout.html' %}
{% block content %}
{% for deal in deals %}
  <div class="mdl-cell mdl-cell--2-col">
    <a href="https://steemit.com/@{{ deal['steem_user'] }}/{{ deal['permlink'] }}">
      <img src="https://steemitimages.com/128x128/{% if deal.image_url is defined %}{{ deal['image_url'] }}{% else %}https://blockdeals.org/assets/images/logo_round.png{% endif %}">
    </a>
  </div>
  <div class="mdl-cell mdl-cell--10-col">
    <a href="https://steemit.com/@{{ deal['steem_user'] }}/{{ deal['permlink'] }}">
      <h2>{{ deal['title'] }}</h2>
    </a>
    <p>{{ deal['description'] | truncate(160, True) }} [ <a href="https://steemit.com/@{{ deal['steem_user'] }}/{{ deal['permlink'] }}">Read more</a> ]</p>
  </div>
{% endfor %}
{% endblock %}
