<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A worldwide deals sharing community, where deals, coupon codes, vouchers, special promotions and freebies are shared everyday.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/blockdeals.css?4"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/countrySelect.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <title>BlockDeals</title>

    <meta name="theme-color" content="#263238">

    <link rel="shortcut icon" href="/assets/images/favicon.png?0">
  </head>

	<body>
    <div class="navbar-fixed">
      <ul id="country_dropdown" class="dropdown-content">
        <li><a href="/">All</a></li>
      </ul>
      {% if brands %}
      <ul id="brand_dropdown" class="dropdown-content">
        <li><a href="/">All</a></li>
        {% for brand in brands|sort %}
        {% if brand != "" %}
        <li class="{{ 'active' if brand == show_brand else '' }}"><a class="truncate" href="/brand/{{ brand }}">{{ brand }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      <nav class="grey lighten-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img id="logo" class="responsive-img" src="/assets/images/blockdeals_logo.png"></a>
          <ul class="right hide-on-med-and-down">
          <li class="{{ 'active' if request.path == "/freebies" }}"><a class="waves-effect waves-light" href="/freebies" title="Freebies!"><img class="valign-wrapper" src="/assets/images/freebies.png"></a></li>
          {% if not country %}
          <li><a class="dropdown-trigger" href="#!" data-target="country_dropdown">Country<i class="material-icons right">arrow_drop_down</i></a></li>
          {% else %}
          <li><a class="dropdown-trigger" href="#!" data-target="country_dropdown"><div class="country-select"><div class="flag {{ country }}"></div></div><i class="material-icons right">arrow_drop_down</i></a></li>
          {% endif %}
          {% if session.logged_in and session.authorized %}
          <li><a class="waves-effect waves-light btn orange darken-2" href="{{ url_for('submit_page') }}">Submit Deal <i class="material-icons right">add_box</i></a></li>
          {% else %}
          {% if not session.logged_in %}
          <li><a class="waves-effect waves-light btn blue darken-2 tooltipped" data-position="bottom" data-tooltip="Your voice is valuable, join Steem." href="https://signup.steemit.com/?ref=blockdeals">Sign up <i class="material-icons right">mood</i></a></li>
          <li><a class="waves-effect waves-light btn orange darken-2 loginbtn tooltipped" data-position="bottom" data-tooltip="We use SteemConnect so your Steem<br>account is safe!">Login <i class="material-icons right">person</i></a></li>
          {% else %}
          <li><a class="waves-effect waves-light btn orange darken-2 tooltipped" data-position="bottom" data-tooltip="Authorising is required to allow us to post your deals<br>to Steem on your behalf. All done safetly via SteemConnect!" href="https://steemconnect.com/authorize/@blockdeals/?redirect_uri={{ config.SITE_URL }}/auth">Authorize <i class="material-icons right">lock_open</i></a></li>
          {% endif %}
          {% endif %}
          </ul>

          <ul id="nav-mobile" class="sidenav">
          {% if session.logged_in and session.authorized %}
          <li><a class="btn" href="{{ url_for('submit_page') }}">Submit Deal</a></li>
          {% else %}
          {% if not session.logged_in %}
          <li><a class="btn loginbtn">Login</a></li>
          {% else %}
          <li><a class="btn" href="https://steemconnect.com/authorize/@blockdeals/?redirect_uri={{ config.SITE_URL }}/auth">Authorize</a></li>
          {% endif %}
          {% endif %}
          <li id="mobile_freebies" class="{{ 'active' if request.path == "/freebies" }}"><a class="waves-effect waves-light" href="/freebies" title="Freebies"><img src="/assets/images/freebies.png" height="16" style="vertical-align: text-bottom"> Freebies</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

		<div class="container">
			<div class="section">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row">
          <div class="col s12">
            <div class="card red darken-1">
              <div class="card-content white-text">
                <span class="card-title">Error</span>
                {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
      </div>
		</div>

    <footer class="page-footer orange darken-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">BlockDeals</h5>
            <p class="grey-text text-lighten-4">We are a team of Steem enthusiasts working on this project like it's our full time job. Any <a href="https://steemconnect.com/sign/delegate-vesting-shares?delegatee=blockdeals&vesting_shares=100%20SP">delegation to @blockdeals</a> would help support and continue development on this project and is greatly appreciated and will be used to vote up great deals!</p>
            <h5>Delegate <i class="fas fa-heart"></i></h5>
            <p>
              {% for sp in [50, 100, 200, 500, 1000] %}
              <a href="https://steemconnect.com/sign/delegate-vesting-shares?delegatee=blockdeals&vesting_shares={{ sp }}%20SP">{{ sp }}SP</a>
                {% if not loop.last %}
                  |
                {% endif %}
              {% endfor %}
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Team</h5>
            <ul>
              <li><a class="white-text" href="https://steemit.com/@dealsy">@dealsy</a></li>
              <li><a class="white-text" href="https://steemit.com/@just2random">@just2random</a></li>
              <li><a class="white-text" href="https://steemit.com/@mazzle">@mazzle</a></li>
              <li><a class="white-text" href="https://steemit.com/@scottweston">@scottweston</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><i class="fas fa-rss-square"></i> <a class="white-text" href="https://steemit.com/@blockdeals">@blockdeals</a></li>
              <li><i class="fab fa-github"></i> <a class="white-text" href="https://github.com/blockdeals/blockdeals">Github</a></li>
            </ul>

            <ul>
              <li><a class="white-text btn" href="/logout">LOGOUT <i class="material-icons right">exit_to_app</i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://unpkg.com/dsteem@^0.8.0/dist/dsteem.js"></script>
    <script src="/assets/js/sc2.min.js"></script>
    <script src="/assets/js/countrySelect.min.js"></script>
    <script src="/assets/js/countrycode.js"></script>
    <script src="/assets/js/blockdeals.js?6"></script>
    <script>
var api = sc2.init({
  app: 'blockdeals.app',
  callbackURL: '{{ config.SITE_URL }}/complete/sc/',
  scope: ['login']
});
    </script>
  </body>
</html>
