{% extends "layout.html" %}
{% block content %}
  <h2>Submit Deal</h2>
  <div class="row">
    <form action="/deal" method="POST">
      <div class="input-field col s12">
        <input id="title" type="text" name="title"/>
        <label for="title">Title</label>
      </div>

      <div class="input-field col s12">
        <input id="url" type="url" class="validate" name="url"/>
        <label class="active" for="url">Direct URL to deal (please no affliate links!)</label>
      </div>

      <div class="input-field col s12">
        <input id="image_url" type="url" class="validate" name="image_url"/>
        <label class="active" for="url">Image URL</label>
      </div>

      <div class="input-field col s6">
        <input id="coupon_code" type="text" name="coupon_code">
        <label for="coupon_code">Coupon Code</label>
      </div>

      <div class="input-field col s6">
        <input id="brand" type="text" name="brand"/>
        <label class="active" for="brand">Brand</label>
      </div>

      <div class="input-field col s6">
        <input id="start" type="text" class="datepicker" name="deal_start"/>
        <label class="active" for="start">Date deal starts</label>
      </div>

      <div class="input-field col s6">
        <input id="end" type="text" class="datepicker" name="deal_end"/>
        <label class="active" for="end">Date deal ends</label>
      </div>

      <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea" name="description"></textarea>
        <label for="description">Description</label>
      </div>

      <div class="input-field col s12">
        <input id="country" type="text" name="country"/>
        <input type="hidden" id="country_code" name="country_code"/>
      </div>

      <div class="col s12">
        <p>
          <label>
            <input type="checkbox" id="global" name="global"/>
            <span>Available globally or in multiple countries?</span>
          </label>
        </p>
      </div>

      <div class="col s12">
        <p>
          <label>
            <input type="checkbox" id="freebie" name="freebie"/>
            <span>Freebie?</span>
          </label
        </p>
      </div>

      <div class="col s12">
        <button class="btn-large waves-effect waves-light submit_deals_btn" type="submit">Submit<i class="material-icons right">send</i></button>
      </div>
    </form>
  </div>

  <div class="col s12 tips_box">
    <h3>Deal Posting Guidelines</h3>

    <h5>Tips</h5>

    <p>Check to see if the deal has been posted by:</p>
    <ul>
      <li>Browsing through the website</li>
      <li>Search for the product (e.g. via the <a href="https://steemit.com/static/search.html">steemit search page</a>)</li>
    </ul>
    <p>Found a duplicate? Leave a comment quoting the duplicate link and we’ll investigate further.</p>

    <h5>FAQs</h5>

    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">add_box</i>How do I remove my deal?</div>
        <div class="collapsible-body">Block Deals uses blockchain technology and nothing can be deleted. Although we can hide the post so leave a comment and let us know you want it to be removed.</div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">add_box</i>How do I remove my comment?</div>
        <div class="collapsible-body">Click the [delete] button at the bottom of your comment on the details page just like you would any other steem comment.</div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">add_box</i>How do i edit my comment?</div>
        <div class="collapsible-body">Use the [edit] button at the bottom of your comment like you would with any other steem comment.</div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">add_box</i>How do I remove my vote?</div>
        <div class="collapsible-body">You can remove your vote within 48 hours of voting. Just click the vote button a second time to toggle your vote.</div>
      </li>
    </ul>
  </div>

{% endblock %}
